html {
  font-size: 62.5%;
  // overflow-y: scroll;
}
body {
  background-color: #f9f9f9;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ",
    sans-serif;
}
// .main {
//   position: relative;
// }
.wrap {
  overflow: hidden;
  position: relative;
}
a {
  display: block;
  text-decoration: none;
}

// スマホサイズの初期表示OFF
.header-sp,
.top__sp,
.br-sp,
.member-slider-sp {
  display: none;
}
.inner {
  margin: 0 auto;
  max-width: 1180px;
}
// ページ内スクロールの位置
// .link-position {
//   display: block;
//   position: relative;
//   top: 0;
// }
