.top {
  margin: 2rem auto 0;
  width: 1280px;
  &__li {
    width: 670px;
  }
  &__img {
    margin: 0 !important;
    width: 670px !important;
  }
}

.slider {
  width: 90%;
  margin: 0 0 80px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.mypattern {
  width: 100%;
}
.mypattern .slick-slide {
  margin: 5px;
}
.mypattern .slick-slide:not(.slick-center) {
  transform: scale(0.8);
}
